
.personal{
    width: 1010px;
    margin: 0 auto;
    clear: both;
    height: 424px;
}
.perimport{
    width: 520px;
    float: left;
}
.perimport>div{

}
.upfile{
    padding-top: 14px;
    width: 430px;
    float: right;
}

